<div class="container">
<div class="col-sm-4 col-md-4 col-lg-4">
    <label>Openstate</label>
    <select
      class="form-control form-control-lg"
      id="idCat"
      name="idCat"
      [(ngModel)]="IdS"
      (change)="onChange()"
    >
      <option *ngFor="let cat of OpenState" value="{{ cat.idstate }}">
        {{ cat.nomstate }}
      </option>
    </select>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>N°</th>
          <th>Id</th>
          <th>Name</th>
          <th>Version</th>
          <th>Training Date</th>
          <th>Accuracy</th>
          <th>Openstate</th>
        </tr>
        @for (model of aiModels; track model.idModel; let index =$index; let
        nbr=$count; let first = $first; let last = $last) {
        <tbody>
          <tr>
            <td>{{index}}</td>
            <td>{{model.idModel}}</td>
            <td>{{model.name}}</td>
            <td>{{model.version}}</td>
            <td>{{model.trainingDate | date:'dd/MM/yyyy'}}</td>
            <td>{{model.accuracy}}</td>
            <td>{{model.OpenState?.nomstate}}</td>
            <td>
              <a class="btn btn-danger" (click)="supprimerAIModel(model)"
                >Supprimer</a
              >
            </td>
            <td>
              <a
                class="btn btn-success"
                [routerLink]="['/updateAIModel',model.idModel]"
                >Modifier</a
              >
            </td>
          </tr>
        </tbody>
        }
      </table>
    </div>
  </div>
</div>